<!DOCTYPE html>
<html>
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cesar Guillermo</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'cnycn/css/bulma.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'cnycn/css/site.css' %}">
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">

                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="../">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                            <span>Inicio</span>
                            </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="{% url 'login' %}">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Ejemplos</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                            <div class="dropdown">
                                <div class="dropdown-trigger">
                                 <button class="button is-white is-outlined" aria-haspopup="true" aria-controls="dropdown-menu2">
                                <span>Mi Curriculum</span>
                            <span class="icon">
                                    <i class="fa fa-book"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                            <div class="dropdown-content">
                                <a href="{% static 'cnycn/docs/cv_cesargutierrez_ingles.pdf' %}" class="dropdown-item">English</a>
                                <hr class="dropdown-divider">
                                <a href="{% static 'cnycn/docs/cv_cesargutierrez.pdf' %}" class="dropdown-item">Español</a>
                            </div>
                        </div>
                    </div>
                    </span>
                    <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://bitbucket.org/CaesarVazzar/">
                                    <span class="icon">
                                        <i class="fa Example of bitbucket fa-bitbucket"></i>
                                    </span>
                    <span>Mi Bitbucket</span>
                    </a>
                    </span>

                </div>
        </div>
        </div>
        </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-6 is-offset-3">
                    <h1 class="title">
                           
                             <div style="margin-top:20px;"><img src="{% static 'cnycn/img/logo.png' %}" alt="Logoo" ></div>
                        </h1>
                    <h2 class="subtitle">
                           
                        </h2>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'cnycn/js/bulma.js' %}"></script>
</body>

</html>