{% block content %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<style>
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section{
	padding: 60px 0;
}
section .section-title{
	text-align:center;
	color:#007b5e;
	margin-bottom:50px;
	text-transform:uppercase;
}
#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: #007b5e !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #007b5e;
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card .block-7:before{
    content: "\f234";
}
#what-we-do .card .block-8:before{
    content: "\f240";
}
#what-we-do .card .block-9:before{
    content: "\f245";
}
#what-we-do .card .block-10:before{
    content: "\f249";
}
#what-we-do .card .block-11:before{
    content: "\f251";
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}



.press__container .btn {
    margin-top: 3.125em;
}
btn--center {
    display: table;
    margin: 0 auto;
}
.btn--border-lightgrey {
    border: 1px solid #e1eaec;
}
.btn--border {
    border: 1px solid #174233;
    color: #174233;
}
.btn {
    position: relative;
    font-family: "Canela Web",serif;
    font-size: 1.125em;
    text-align: center;
    padding: 20px 40px;
}
.btn--border-lightgrey:before {
    background-color: #174233;
}
.btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.9s cubic-bezier(0.6,0.05,0.01,0.99);
    backface-visibility: hidden;
}
.btn:hover:before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.9s cubic-bezier(0.6, 0.05, 0.01, 0.99);
}
.btn--border-lightgrey:hover .btn-text {
    color: #fff;
}
.btn--border-lightgrey:hover .btn-text {
    color: #fff;
}
.btn .btn-text {
    position: relative;
    z-index: 999;
}
.btn-arrow {
    position: relative;
    top: -3px;
    left: 5px;
    z-index: 99;
}
</style>

<div style="padding-top:50px;" class="container">
	<div class="row">
	<a href="{% url 'documentos:index' %}" class="btn btn--border btn--center btn--border-lightgrey"> <span class="btn-text">Ir a Inicio</span> <span class="btn-arrow"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="7" viewBox="0 0 16 7"> <path fill="#174233" fill-rule="nonzero" d="M12.727 0L16 3.394l-3.273 3.394V4.245H0V2.74h12.73z"></path> </svg> </span> </a>
	</div>
</div>

<!-- Services section -->
	<section id="what-we-do">
		<div class="container-fluid">
			<h2 class="section-title mb-2 h1">Instrucciones de trabajo</h2>
			<p class="text-center text-muted h5">Recuerda no compartir estos documentos con personas ajenas a la empresa.</p>
			<div class="row mt-5">
				{% for obj in object_list %}
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h5 class="card-title">{{ obj.documento.name }}</h5>
							<small>Fecha de Subida: {{ obj.uploaded_at }}</small>
							<p class="card-text">{{ obj.descripcion }}</p>
							<a href="{{ obj.documento.url }}" title="Read more" class="read-more" >Clic aqui para ver<i class="fa fa-angle-double-right ml-2"></i></a>
						</div>
					</div>
				</div>
				{% endfor %}

				
			
			</div>
		</div>	
	</section>
{% endblock %}