{% extends 'programacionweb/base.html' %}




{% block content %}
<div class="container acc-settings">
  <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <fieldset class="form-group">
        <label>Subido por</label>
        <label class="form-control">{{ user.first_name}} {{ user.last_name}}</label>
        <input hidden type="text" class="form-control" name="usuario" id="usuario"  value="{{ user.pk }}">
      </fieldset>
      {% if user.is_superuser %}
      <fieldset class="form-group">
      	{{ form.departamento }}
      	{% else %}
      	<label>Departamento</label>
        <label class="form-control">{{ user.groups.all.0 }}</label>
        <input hidden type="text" class="form-control" name="departamento" id="departamento" value="{{ user.groups.all.0.pk }}" >
      </fieldset>
      {% endif %}
      <fieldset class="form-group">
        <label>Descripcion del Archivo</label>
        <input autofocus type="text" class="form-control" name="descripcion" id="descripcion">
      </fieldset>
      <fieldset class="form-group">
        <label>Archivo</label>
        {{ form.documento }}
      </fieldset>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<style>
.acc-settings {
    max-width: 600px;
    padding-top: 100px;
}
</style>
{% endblock %}