{% extends "programacionweb/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2 style="margin-top:100px;">Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %}