{% include "gas/base.html" %}

{% block content %}

<div class="container acc-settings">
    <form role="form" action="#" method="post">
        {% csrf_token %}
      <fieldset class="form-group">
        <label>Estatus</label>
        <select class="form-control" id="status" name="status">
            <option>Activo</option>
            <option>Inactivo</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label>Marca</label>
        <input autofocus="autofocus" type="text" class="form-control" id="marca" name="marca" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Modelo</label>
        <input autofocus="autofocus" type="text" class="form-control" id="modelo" name="modelo" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Zona</label>
        <input autofocus="autofocus" type="text" class="form-control" id="zona" name="zona" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Descripcion</label>
        <input type='text' class="form-control" name='descripcion' id='descripcion' />
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label>Placa</label>
        <input autofocus="autofocus" type="text" class="form-control" id="placa" name="placa" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Obra</label>
        <input autofocus="autofocus" type="text" class="form-control" id="obra" name="obra" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Año</label>
        <input autofocus="autofocus" type="text" class="form-control" id="anio" name="anio" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Kilometraje en Odometro</label>
        <input autofocus="autofocus" type="text" class="form-control" id="kilometraje_odometro" name="kilometraje_odometro" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Rendimiento   km/l</label>
        <input autofocus="autofocus" type="number" class="form-control" id="rendimiento" name="rendimiento" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Color</label>
        <input autofocus="autofocus" type="text" class="form-control" id="color" name="color" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <label>Usuario Resguardo</label>
        {{ form.usuario }}
      </fieldset>
      <fieldset class="form-group">
        <label>Tipo</label>
        {{ form.tipo }}
      </fieldset>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'gas:km_recorrer' %}'">Cancelar</button>
    </form>
</div>
<style>
.acc-settings {
    max-width: 600px;
    padding-top: 70px;
}
</style>

<script>
    // codigo para poner el datepicker en español
    $.datepicker.regional['es'] = {
        dateFormat: 'yy-mm-dd',
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    // funcion javascript para el datepicker
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
        $(".datepicker").datepicker();
    });
</script>

{% endblock %}