{% include "gas/base.html" %}

{% block content %}

<div class="container acc-settings">
    <form role="form" action="#" method="post">
        {% csrf_token %}
      <fieldset class="form-group">
        <label>Agregar kilometraje para {{ object.vehiculo.placa }}</label>
        <input autofocus="autofocus" type="text" class="form-control" id="kilometraje" name="kilometraje" placeholder="">
      </fieldset>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'gas:km_recorrer' %}'">Cancelar</button>
    </form>
</div>
<style>
.acc-settings {
    max-width: 600px;
    padding-top: 180px;
}
</style>
{% endblock %}