{% include "gas/base.html" %}

{% block content %}



<div class="container acc-settings">
    <form role="form" action="#" method="post">
        {% csrf_token %}
      <fieldset class="form-group">
        <label>Cantidad Solicitada</label>
        <input readonly type="text" class="form-control" placeholder="{{object.total}}">
      </fieldset>
      <fieldset class="form-group">
        <label>Cantidad a aprobar</label>
        <input autofocus="autofocus" type="text" class="form-control" id="total_aprobado" name="total_aprobado" placeholder="">
      </fieldset>
      <fieldset class="form-group">
        <input type="hidden" value="3" class="form-control" id="estatus" name="estatus">
      </fieldset>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'gas:solicitudes' %}'">Cancelar</button>
    </form>
</div>
<style>
.acc-settings {
    max-width: 600px;
    padding-top: 180px;
}
</style>
{% endblock %}