<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}

    <title>Modulo de Gasolinas</title>

    <link  href="{% static 'gas/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'gas/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'gas/css/bootstrap-editable.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static 'gas/css/scrolling-nav.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'gas/css/jquery.dataTables.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'gas/css/buttons.dataTables.min.css' %}" />
  </head>


  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
      <div class="container">

        <a class="navbar-brand js-scroll-trigger" href="../">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
           
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'gas:saldos' %}">Saldos</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'gas:horas_uso' %}">Generadores</a>
            </li>

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'gas:km_recorrer' %}">Kilometraje</a>
            </li>

             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'gas:solicitud' %}">Solicitar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'gas:solicitudes' %}">Solicitudes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'gas:perfil' %}">Mi Perfil</a>
            </li>
          </ul>
        </div>

      </div>

    </nav>

        {% block content %}  




{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'gas/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'gas/js/bootstrap.js' %}"></script>
    <script src="{% static 'gas/js/respond.js' %}"></script>
    <script src="{% static 'gas/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'gas/js/jquery-ui.js' %}"></script>
    <script src="{% static 'gas/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'gas/js/jszip.min.js' %}"></script>
    <script src="{% static 'gas/js/pdfmake.js' %}"></script>
    <script src="{% static 'gas/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'gas/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'gas/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'gas/js/datetime-moment.js' %}"></script>
    <script src="{% static 'gas/js/moment.min.js' %}"></script>
    <script src="{% static 'gas/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'gas/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'gas/js/dataTables.colReorder.min.js' %}"></script>

    
    
    
    <!-- Plugin JavaScript -->
    <script src="{% static 'gas/js/jquery.easing.min.js' %}"></script>

  </body>

</html>
