{% extends "gas/base.html" %}

{% block content %}
<div style="margin-top:5%;" class="col-lg-12">
</div>
<form role="form" action="#" method="POST">
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">

                <button type="button" onclick="location.href='{% url 'gas:nva_semana' %}'" class="btn btn-success" >Editar</button>
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">                 
                        <div class="col-lg-3">    
                        </div>
                        <div class="col-lg-8">
                        </div>    
                    </div>
                </div>
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" style="font-size:12px;" >
                            <thead>
                                <tr>
                                    <th class="text-center">Placas</th>
                                    <th class="text-center">Kilometros a recorrer</th>
                                </tr>
                            </thead>
                            <tbody>
                           
                                <tr>
                                    <td>{{ kilometraje.vehiculo.placa  }}</td>
                                    
                                    <td>{{ kilometraje.kilometraje }} </td>
  									<td></td>
                                    </tr>
							{% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
           
        	</div>
        </div>
    </div>
</div>
</form>

{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() 
{   
    var table = $('#tabla').DataTable({

        bLengthChange: true,
        dom: 'lfBrtip',
        buttons: [

        'copyHtml5',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
            },
            
            'excelHtml5',

        ],

        "pageLength": 50,

        "language": {
            url: "/static/app/localizacion/es_ES.json"
        }
    } );

    
    $('#tabla tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
  
     
});

</script>
{% endblock %}