{% extends "gas/base.html" %}

{% block content %}

    <section id="about">
      <div class="container">
        <div class="row">
          <div style="text-align: center;" class="col-lg-8 mx-auto">
            <h2>Modulo de Gasolinas</h2>
            <p  class="lead">Adición a ERP</p>
          </div>
        </div>
      </div>
    </section>



{% endblock %}