{% extends "gas/base.html" %}

{% block content %}
<div style="margin-top:5%;" class="col-lg-12">
    <button type="button" onclick="location.href='{% url 'gas:listado_vehiculos' %}'" class="btn btn-primary" >Vehiculos</button>
    <button type="button" onclick="location.href='{% url 'gas:agregar_vehiculo' %}'" class="btn btn-warning" >Agregar Vehiculo</button>
    <button type="button" data-toggle="modal" href="#modal" class="btn btn-success" >Nueva Semana</button>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Seguro?
            </div>
            <div class="modal-footer">
                <button type="button" onclick="location.href='{% url 'gas:nva_semana' %}'" class="btn btn-success" >Capturar semana</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">                 
                        <div class="col-lg-3">    
                        </div>
                        <div class="col-lg-8">
                        </div>    
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" style="font-size:12px;" >
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Vehiculo</th>
                                    <th class="text-center">Placa</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for kilometraje in object_list %}
                                <tr>
                                    <td>{{ kilometraje.vehiculo.pk  }}</td>
                                    <td>{{ kilometraje.vehiculo.marca  }} {{ kilometraje.vehiculo.modelo  }}</td>
                                    <td>{{ kilometraje.vehiculo.placa  }}</td>
                                    <td>{{ kilometraje.promedio  }}</td>
                                    <form action="#" method="POST">
                                    {% csrf_token %}
  									<td><button autofocus="autofocus" onclick="location.href='{% url 'gas:update_kilometraje' kilometraje.id %}'" type="button" class="btn btn-dark">Asignar</button></td>
                                    </tr>
                                    </form>
							{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
$(document).ready(function() 
{   

    var table = $('#tabla').DataTable({

        bLengthChange: true,
        dom: 'lfBrtip',
        buttons: [

        'copyHtml5',
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',
            },
            
            'excelHtml5',

        ],

        "pageLength": 50,

        "language": {
            url: "/static/app/localizacion/es_ES.json"
        }
    } );

    
    $('#tabla tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
  
     
});

</script>
{% endblock %}