{% include "gas/base.html" %}


{% block content %}

<link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>


<style>
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body { font-family: 'Open Sans'; }

.inactive { visibility: hidden; }
.active { background-color: #F7F7F9; }
.col-list .col-head { color: white; border-bottom: thick solid rgba(0, 0, 0, 0.2); border-radius: 5px 5px 0 0; margin-top: 45px; }
.col-list .col-head span { color: white; font-size: 3em; padding: 15px; border: thick solid white; border-radius: 50%; margin-top: -45px; background-color: #BE1E2D; }
.col-list .col-head h2 { margin-top: 7px; margin-bottom: 5px; font-size: 2em; font-weight: 700; }
.col-list .t1 .col-head { background-color: #FFB748; }
.col-list .t2 .col-head { background-color: #16CAC8; }
.col-list .t3 .col-head { background-color: #F87152; }
.col-list .t1 li { border-bottom: 1px solid rgba(255, 183, 72, .4); }
.col-list .t2 li { border-bottom: 1px solid rgba(22, 202, 200, .4); }
.col-list .t3 li { border-bottom: 1px solid rgba(248, 113, 82, .4) }
.col-list .t1 li:last-child,
.col-list .t2 li:last-child,
.col-list .t3 li:last-child { border-bottom: 0; }
.col-list li p { cursor: pointer; font-size: 1.2em; padding: 7px; margin: 0; }
.col-list li:hover { background-color: #F7F7F9; }
.option span { color: rgba(162, 213, 0, 1); margin-left: 7px; margin-right: 7px;} 
</style>

<h6 style="margin-top:5%;"></h6>
{% for perfil in object_list %}
{% for vehiculo in vehiculoPerfil %}
<div style="margin-top:10px;" class="container">
  <div class="row col-list">
    <div class="col-md-4 t1">
    </div>
    <div class="col-md-4 t2">
      <div class="col-head text-center">
        <span class="fa fa-user" aria-hidden="true"></span>
        <h2> {{perfil.usuario.first_name}} {{perfil.usuario.last_name}} </h2>
      </div>
      <ul style="text-align:center;" class="list-unstyled">

           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span style="text-align:left;">Vehiculo Asignado</span> {{ vehiculo.marca }}  {{ vehiculo.modelo }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Zona en la que se encuentra el vehiculo</span>{{ vehiculo.zona }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Zona del usuario </span>{{ perfil.zona_usuario }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Descripción</span>{{ vehiculo.descripcion }}</p>
           </li>
          
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Placa</span>{{ vehiculo.placa }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Obra en la que esta el Vehiculo</span>{{ vehiculo.obra }}</p>
           </li>
              <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Tipo</span>{{ vehiculo.get_tipo_display }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Año</span>{{ vehiculo.anio }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Kilometraje en Odometro</span>{{ vehiculo.kilometraje_odometro }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Rendimiento</span>{{ vehiculo.rendimiento }} km/l </p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Color</span>{{ vehiculo.color }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Tarjeta</span>{{ perfil.numero_tarjeta }}</p>
           </li>
           <li>
            <p class="option"><span class="glyphicon glyphicon-ok inactive" aria-hidden="true"></span><span>Banco del Usuario</span>{{ perfil.banco }}</p>
           </li>
      </ul>
    </div>
    <div class="col-md-4 t3">
    </div>
  </div>
    <hr />
 
</div>
{% endfor %}
{% endfor %}

{% endblock %}