{% extends "gas/base.html" %}

{% block content %}
{% load i18n %}
<div style="margin-top:5%;" class="col-lg-12">

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">                 
                        <div class="col-lg-3">    
                        </div>
                        <div class="col-lg-8">
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" style="font-size:12px;" >
                            <thead>
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Horas usado</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for reportes in reporte %}
                                <tr>
                                    {% language 'es' %}
                                    <td align="center">{{reportes.fecha|date:'D, d N '  }}  </td>
                                    {% endlanguage %}
                                    <td align="center">{{ reportes.horas_uso }}</td>
                                </tr>
                                    </form>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}