{% extends "gas/base.html" %}

{% block content %}
<div style="margin-top:5%;" class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>Actualizar saldo</h3>
            </div>
            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">                 
                        <div class="col-lg-3">    
                        </div>
                        <div class="col-lg-8">
                        </div>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" style="font-size:12px;" >
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for perfil in object_list %}
                                <tr>
                                    <td align="center"><a href="{% url 'gas:update_saldos' perfil.id %}">{{ perfil.usuario.first_name }}  {{perfil.usuario.last_name}}</a></td>
                                    <form action="#" method="POST">
                                    {% csrf_token %}
                                </tr>
                                    </form>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}

{% endblock %}