{% include "gas/base.html" %}


<style>th.dt-center, td.dt-center { text-align: center; }

  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>



{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h3 style="margin-top:7%; margin-left:1%;" class="page-header">Tus Solicitudes</h3>



    </div>    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">

            <div class="panel-body">
                <div class='form-group'>
                    <div class="row">                 
                        <div class="col-lg-3">    
                                                                                 
                        </div>
                        <div style="float:center;" class="col-lg-7">

                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_revisar">Revisar Todo</button>

                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_approve">Aprobar Todo</button>

                        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal_pay">Pagar Todo</button>

                        <!--{% if perms.gas.can_cancel %}
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal_cancel">Cancelar Todo</button>
                        {% endif %}
                        </div>-->   
                        </div>

                       <div id="myModal_pay" class="modal fade" role="dialog">
                         <div class="modal-dialog">

                        <!-- Modal content-->
                            <div class="modal-content">
                             <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title"></h4>
                            </div>
                             <div class="modal-body">
                                    <p>Todas las solicitudes en estatus APROBADO pasaran a estatus PAGADO</p>
                            </div>
                                    <div class="modal-footer">
                                         <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                         <button type="button" onclick="location.href='{% url 'gas:pay_request' %}'" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="myModal_revisar" class="modal fade" role="dialog">
                         <div class="modal-dialog">

                        <!-- Modal content-->
                            <div class="modal-content">
                             <div class="modal-header">
                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                             <h4 class="modal-title"></h4>
                            </div>
                             <div class="modal-body">
                                    <p>Todas las solicitudes en estatus SOLICITADO pasaran a estatus REVISADO</p>
                            </div>
                                    <div class="modal-footer">
                                         <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                         <button type="button" onclick="location.href='{% url 'gas:rev_request' %}'" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal_approve" role="dialog">
                            <div class="modal-dialog">
                        <!-- contenido del modal-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Todas las solicitudes en estatus REVISADO pasaran a estatus APROBADO</p>
                                    </div>
                                    <div class="modal-footer">
                                         <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                         <button type="button" onclick="location.href='{% url 'gas:approval_request' %}'" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="myModal_cancel" role="dialog">
                            <div class="modal-dialog">
                        <!-- contenido del modal-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Todas las solicitudes se cancelaran. Solo puede cancelar las solicitudes en estatus SOLICITADO</p>
                                    </div>
                                    <div class="modal-footer">
                                         <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                         <button type="button" onclick="location.href=''" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" style="font-size:12px;" >
                            <thead>
                                <tr>
                                    <th class="text-center">Cantidad Solicitada</th>
                                    <th class="text-center">Cantidad sugerida</th>
                                    <th class="text-center">Cantidad Aprobada</th>
                                    <th class="text-center">Nombre del Solicitante</th>
                                    <th class="text-center">Justificacion</th>
                                    <th class="text-center">Tarjeta</th>
                                    <th class="text-center">Fecha de Solicitud</th>
                                    <th class="text-center">Estatus</th>

                                    <th class="text-center">Revisar</th>

                                    <th class="text-center">Aprobar esta cantidad</th>


                                    <th class="text-center">Aprobar cantidad diferente</th>


                                    <th class="text-center">Pagar</th>


                                    <th class="text-center">Cancelar</th>



                                </tr>
                            </thead>

                            <tbody>
                            {% for solicitud in object_list %}
                                <tr>
                                    <td>${{ solicitud.total }}</td>
                                    <td>{%for vehiculo in solicitud.usuario.vehiculo_set.all%} ${{vehiculo.cantidad | floatformat:2 }}{% endfor %} </td>
                                    <td>${{ solicitud.total_aprobado|default_if_none:"&nbsp;" }}</td>
                                    <td><a data-toggle="modal" href="#{{ solicitud.usuario.pk }}" data-id="5">{{ solicitud.usuario.first_name}} {{solicitud.usuario.last_name}}</a></td>
                                    <td>Proyecto:  {{ solicitud.clave_proyecto }}</br> </br> {{ solicitud.justificacion }}</td>
                                    {% for perfiles in solicitud.usuario.perfil_set.all %}
                                    <td>{{ perfiles.numero_tarjeta }}</td>
                                    {% endfor %}
                                    <td>{{ solicitud.fecha_solicitud.year }}/{{ solicitud.fecha_solicitud.month }}/{{ solicitud.fecha_solicitud.day }}</td>
                                    <td>{{ solicitud.get_tipo_display }}</td>

                                    <td align="center"><a href="{% url 'gas:review_object' solicitud.id %}"><i class="fa fa-check-square-o"></i></a></td>

                                    <td align="center"><a href="{% url 'gas:aprove_object' solicitud.id %}"><i class="fa fa-thumbs-o-up"></i></a></td>


                                    <td align="center"><a href="{% url 'gas:aprobar' solicitud.id %}"><i class="fa fa-thumbs-o-up"></i></a></td>


                                    <td align="center"><a href="{% url 'gas:pay_object' solicitud.id %}"><i class="fa fa-dollar"></a></td>


                                    <td align="center"><a href="{% url 'gas:cancel_object' solicitud.id %}"><i class="fa fa-close"></a></td>


                                    <!--modal perfiles -->
                                    <div class="modal fade" id="{{ solicitud.usuario.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Perfil del Usuario {{ solicitud.usuario.pk }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                            <div class="modal-body">
                                                {% for perfiles in solicitud.usuario.perfil_set.all %}
                                                <label>EDAD:</label>
                                                <strong><p>{{ perfiles.edad }}</p></strong>
                                                <label>BANCO:</label>
                                                <strong><p>{{ perfiles.banco }}</p></strong>
                                                <label>TELEFONO:</label>
                                                <strong><p>{{ perfiles.telefono }}</p></strong>
                                                <label>NUMERO DE TARJETA:</label>
                                                <strong><p>{{ perfiles.numero_tarjeta }}</p></strong>
                                                <label>ZONA DEL USUARIO:</label>
                                                <strong><p>{{ perfiles.zona_usuario }}</p></strong>
                                                {% endfor %}
                                            </div>
                                         <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                            </div>
                                        </div>
                                        </div>
                                    <!-- termina modal -->
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}



<script>


$(document).ready(function() 
{

    var table = $('#tabla').DataTable({
        responsive: true,
        colReorder: true,
        "order": [[ 6, "desc" ]],
        bLengthChange: true,
        dom: 'lfBrtip',
        buttons: [  
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',

            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            'colvis',
        ],
        "pageLength": 50,
         "columnDefs": [
         { className: "dt-center", "targets": [ 0 ] }
         ],

        "language": {
            url: "/static/app/localizacion/es_ES.json"
        }
    } );

  
    $('#tabla tbody').on( 'click', 'tr', function() 
    {
        if ($(this).hasClass('selected') ) 
        {           
            $(this).removeClass('selected');
             
        }
        else 
        {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');                      
        }
    });
     
});

</script>
{% endblock %}