{% include "gas/base.html" %}





{% block content %}


<form role="form" action="" method="post">
<div style="margin-left:auto; margin-right:auto; width:95%;"><br/>
<div class="col-md-12">
	<div class="row">
	    <div class="col-md-12">
	<div class="panel panel-default">
  <div style="margin-top: 4%;" class="panel-heading">
    <h3 class="panel-title">Solicitar </h3>
  </div>
  {% csrf_token %}
  <table class="table table-bordered">
    <tr>
        <td class="col-xs-3">Nombre de quien solicita</td>
       	<td> {{ user.first_name }}  {{ user.last_name }} </td>
    </tr>
    <tr>

        <td class="col-xs-3">Tarjeta a depositar</td>
        <td>{%for tarjeta in tarjetas %} {{tarjeta.numero_tarjeta}}  {% endfor %}</td>
    </tr>

     <tr>
        <td class="col-xs-3">Clave del proyecto</td>
        <td>{{ form.clave_proyecto }}</td>
    </tr>
     <tr>
        <td class="col-xs-3">Justificación</td>
        <td>{{ form.justificacion }}</br>Se sugiere pedir la cantidad de {% for vehiculo in sugerida %} ${{vehiculo.cantidad | floatformat:2 }} {% endfor %}</td>
    </tr>
    <tr>
        <td class="col-xs-3">Cantidad que solicita para vehiculo</br> <strong>PONER 0 EN CASO DE NO NECESITAR</strong></td>
        <td><input type="text" name="gasolina_troca" id="num1"  value="0" required="true"></td>
    </tr>
    <tr>
        <td class="col-xs-3">Cantidad que solicita para generador</br> <strong>PONER 0 EN CASO DE NO NECESITAR</strong></td>
        <td><input type="text" name="gasolina_generador" id="num2" value="0" required="true"></td>
    </tr>
     <tr>
        <td class="col-xs-3">Total</td>
        <td><input type="text" name="total" id="sum" readonly value="" ></td>
    </tr>




  </table>
</div>

					<div style='text-align: right;'>
                        <input type="submit" class="btn btn-primary" name="submit">
                        <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'gas:home' %}'">
                            Cancelar
                        </button>
                    </div>
</div>
</div>
</div>


</form>


{% block scripts %}

<script>
  $(document).ready(function() {
    //this calculates values automatically 
    sum();
    $("#num1, #num2").on("keydown keyup", function() {
        sum();
    });
});

function sum() {
            var num1 = document.getElementById('num1').value;
            var num2 = document.getElementById('num2').value;
      var result = parseInt(num1) + parseInt(num2);
      var result1 = parseInt(num2) - parseInt(num1);
            if (!isNaN(result)) {
                document.getElementById('sum').value = result;
          }
        }
</script>

{% endblock %}


{% endblock %}