{% include "gas/base.html" %}

{% block content %}

<div class="container acc-settings">
    <form role="form" action="#" method="post">
        {% csrf_token %}
      <fieldset class="form-group">
        <label>Modelo</label>
        {{ form.modelo }}
      </fieldset>
      <fieldset clss="form-group">
        <label>Marca</label>
        {{ form.marca }}
      </fieldset>
      <fieldset class="form-group">
        <label>Asignado a</label>
        {{ form.usuario }}
      </fieldset>
      <fieldset class="form-group">
        <label>Zona</label>
        {{ form.zona }}º
      </fieldset>
      <fieldset class="form-group">
        <label>Descripcion</label>
        {{ form.descripcion }}
      </fieldset>
      <fieldset class="form-group">
        <label>Placa</label>
        {{ form.placa }}
      </fieldset>
      <fieldset class="form-group">
        <label>Obra</label>
        {{ form.obra }}
      </fieldset>
      <fieldset class="form-group">
        <label>Año</label>
        {{ form.anio }}
      </fieldset>
      <fieldset class="form-group">
        <label>KM en ODO</label>
        {{ form.kilometraje_odometro }}
      </fieldset>
      <fieldset class="form-group">
        <label>Rendimiento</label>
        {{ form.rendimiento }}
      </fieldset>
      <fieldset class="form-group">
        <label>Color</label>
        {{ form.color }}
      </fieldset>
      <fieldset class="form-group">
        <label>Tipo</label>
        {{ form.tipo }}
      </fieldset>
      <fieldset class="form-group">
        <label>Estado</label>
        {{ form.status }}
      </fieldset>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'gas:listado_vehiculos' %}'">Cancelar</button>
    </form>
</div>
<style>
.acc-settings {
    max-width: 600px;
    padding-top: 70px;
}
</style>

<script>
    // codigo para poner el datepicker en español
    $.datepicker.regional['es'] = {
        dateFormat: 'yy-mm-dd',
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    // funcion javascript para el datepicker
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
        $(".datepicker").datepicker();
    });
</script>

{% endblock %}