{% include "gas/base.html" %}

{% block content %}

<div class="container acc-settings">
    <form role="form" action="#" method="post">
        {% csrf_token %}
      <fieldset class="form-group">
        <label>Descripcion</label>
        {{ form.descripcion }}
      </fieldset>
      <fieldset class="form-group">
        <label>Obra</label>
        {{ form.obra }}
      </fieldset>
      <fieldset class="form-group">
        <label>Status</label>
        <select  id="estatus" name="estatus">
            <option>Activo</option>
            <option>Inactivo</option>
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label>Fecha de compra</label>
        {{ form.fecha_compra }}
        </select>
      </fieldset>
      <fieldset class="form-group">
        <label>Serie</label>
        {{ form.serie }}
      </fieldset>
      <fieldset class="form-group">
        <label>Marca</label>
        {{ form.marca }}
      </fieldset>
      <fieldset class="form-group">
        <label>Marcador</label>
        {{ form.marcador }}
      </fieldset>
      <fieldset class="form-group">
        <label>Estatus en Obra</label>
        {{ form.estatus_obra }}
      </fieldset>
      <fieldset class="form-group">
        <label>Usuario Resguardo</label>
        {{ form.usuario }}
      </fieldset>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'gas:listado_generadores' %}'">Cancelar</button>
    </form>
</div>
<style>
.acc-settings {
    max-width: 600px;
    padding-top: 70px;
}
</style>

<script>
    // codigo para poner el datepicker en español
    $.datepicker.regional['es'] = {
        dateFormat: 'yy-mm-dd',
        closeText: 'Cerrar',
        prevText: '< Ant',
        nextText: 'Sig >',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
    };
    // funcion javascript para el datepicker
    $.datepicker.setDefaults($.datepicker.regional['es']);
    $(function () {
        $(".datepicker").datepicker();
    });
</script>

{% endblock %}