{% include "gas/base.html" %}

{% block content %}

<div class="container acc-settings">
    <form role="form" action="#" method="post">
        {% csrf_token %}
      <fieldset class="form-group">
        <label>Agregar saldo para {{ object.usuario.first_name }}  {{ object.usuario.last_name }}</label>
        <input autofocus="autofocus" type="text" class="form-control" id="saldo_tarjeta" name="saldo_tarjeta" placeholder="">
      </fieldset>
      <button type="submit" class="btn btn-primary">Enviar</button>
      <button type="reset" class="btn btn-primary" onclick="location.href='{% url 'gas:saldos' %}'">Cancelar</button>
    </form>
</div>
<style>
.acc-settings {
    max-width: 600px;
    padding-top: 180px;
}
</style>
{% endblock %}