{% include "gas/base.html" %}


<style>th.dt-center, td.dt-center { text-align: center; }

  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  </style>



{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h2 align="center" style="margin-top:5%; margin-left:1%;" class="page-header">Listado de Vehiculos</h2>
    </div>    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="tabla" class="table table-striped table-bordered" cellspacing="0" style="font-size:12px;" >
                            <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th class="text-center">Modelo</th>
                                    <th class="text-center">Asignado a</th>
                                    <th class="text-center">Zona</th>
                                    <th class="text-center">Descripcion</th>
                                    <th class="text-center">&nbsp;&nbsp;&nbsp;Placa&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                    <th class="text-center">Obra</th>
                                    <th class="text-center">Año</th>
                                    <th class="text-center">KM en ODO</th>
                                    <th class="text-center">Rendimiento</th>
                                    <th class="text-center">Color</th>
                                    <th class="text-center">Desactivar</th>
                                    <th class="text-center">Editar</th>

                                </tr>
                            </thead>

                            <tbody>
                            {% for vehiculo in object_list %}
                                <tr>
                                    <td>{{ vehiculo.id }}</td>
                                    <td><a href="{% url 'gas:reporte_vehiculos' vehiculo.id %}">{{ vehiculo.marca }} {{ vehiculo.modelo }}</td>
                                    <td>{{ vehiculo.usuario }} </td>
                                    <td>{{ vehiculo.zona }}</td>
                                    <td>{{ vehiculo.descripcion }}</td>
                                    <td>{{ vehiculo.placa }}&nbsp;</td>
                                    <td>{{ vehiculo.obra }}</td>
                                    <td>{{ vehiculo.anio }}</td>
                                    <td>{{ vehiculo.kilometraje_odometro }}</td>
                                    <td>{{ vehiculo.rendimiento }} </td>
                                    <td>{{ vehiculo.color }} </td>
                                    <td align="center"><a data-toggle="modal" href="#{{ vehiculo.pk}}"><i class="fa fa-trash-o" aria-hidden="true" ></i></a></td>
                                    <div class="modal fade" id="{{ vehiculo.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">{{ generador.pk }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </div>
                                            <div class="modal-body">
                                                ¿Seguro?
                                            </div>
                                         <div class="modal-footer">
                                            <button type="button" onclick="location.href='{% url 'gas:estatusVehiculo_object' vehiculo.pk %}'" class="btn btn-warning" >Desactivar Vehiculo</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                        
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <td align="center"><a href = {% url "gas:update_vehiculos" vehiculo.id %}><i class="fa fa-pencil-square-o" aria-hidden="true" ></i></a></td>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block scripts %}



<script>


$(document).ready(function() 
{

    var table = $('#tabla').DataTable({

        bLengthChange: true,
        dom: 'lfBrtip',
        buttons: [  
            {
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL',

            },
            {
                extend: 'excelHtml5',
                exportOptions: {
                    columns: ':visible'
                }
            },
            'colvis',
        ],
        "pageLength": 100,
         "columnDefs": [
         { className: "dt-center", "targets": [ 0 ] }
         ],

        "language": {
            url: "/static/app/localizacion/es_ES.json"
        }
    } );

  
    $('#tabla tbody').on( 'click', 'tr', function() 
    {
        if ($(this).hasClass('selected') ) 
        {           
            $(this).removeClass('selected');
             
        }
        else 
        {
            table.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');                      
        }
    });
     
});

</script>
{% endblock %}