{% extends "programacionweb/base.html" %}

{% block content %}

    <section id="about">
      <div class="container">
        <div class="row">
          <div style="text-align: center;" class="col-lg-8 mx-auto">
            <h2>Programacion WEB</h2>
            <p  class="lead">Proyecto Final</p>

                                <div class="form-group">
                        <label for="zona" class="col-sm-3 control-label">Empresa</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="empresa" name="empresa">
                                <option>{{object.empresa}}</option>
                                <option>Abril</option>
                                <option>Agosto</option>
                                <option>Diciembre</option>
                                <option>Enero</option>
                                <option>Febrero</option>
                                <option>Julio</option>
                                <option>Junio</option>
                                <option>Marzo</option>
                                <option>Mayo</option>
                                <option>Noviembre</option>
                                <option>Octubre</option>
                                <option>Septiembre</option>
                            </select>
                        </div>
                    </div>

          </div>
        </div>
      </div>
    </section>



{% endblock %}